<!DOCTYPE html>
<html>
{{>head}}
<body>
{{>header}}

<h1>Direct link to the github page!</h1>
<h3><a href="https://github.com/Luca-Pi/node-web-server">Node Web Server GitHub</a></h3>

{{>footer}}

</body>

</html>